.subtitle {
    font-size: 20px;
    font-weight: bold;
}

.loaderContainer {
    margin-top: 10px;
}

.space {
    height: 2px;
}

video {
  margin-left: 2px;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.Contenter {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: white;
}

.videoContainer {
    position: relative; 
    top: 50px; /*Adjust the top position as needed*/
    left: 0%; 
    height: 100vh;
}

.content {
    position: relative;
    top: 0%;
    width: 50%;
    left: 7%;
    color: black;
    background-color: white;
}

.hide {
    display: none;
}

.loaderButton {
    padding: 3px 20px;
    cursor: pointer;
    border-radius: 12px;

    box-shadow: 0px 4px 18px -3px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0px 4px 18px -3px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 4px 18px -3px rgba(0, 0, 0, 0.23);

    background: #fcfcfc;
    color: black;
}

.icon {
    margin-right: 10px;
}

.publicDatasetsMessage {
    margin-top: 10px;
}

.datasetsList {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.datasetButton {
    cursor: pointer;
    border: 1px solid;
    padding: 0 10px;
    border-radius: 10px;
}

.datasetButton+.datasetButton {
    margin-left: 10px;
}

label {
    z-index: 1000; 
    position: relative;
}