#Fade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    padding: 0 7px;
}

.label{
    font-weight: bold;
}

.icon {
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    font-size: 13px;
    padding-right: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}